.svg-test{
    stroke: black;
    text-align: center;
}

.container{
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    border: 1px solid orange;
    border-radius: 50%;
    background-color: orange;
    margin-top: 150px;
}
